body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 0 40px;
  font-family: FT Switch;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 425px) {
  body {
    padding: 0 10px;
  }
}

a {
  color: black;
  text-decoration: none;
}